modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
VITE_EMAILJS_PUBLIC_KEY = "qyidoJLvKq8vr7cLv"
VITE_EMAILJS_SERVICE_ID = "service_3on99re"
VITE_EMAILJS_TEMPLATE_ID = "template_1lw86hh"
VITE_CLOUDINARY_CLOUD_NAME = "dyqv3ubsi"
VITE_CLOUDINARY_UPLOAD_PRESET = "samaras_resume_upload"
